{% load static %}
<html lang="en" class="hmtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikola Plazinic | Course
    </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" class="css">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" class="css">
</head>
<body>
    <header>
        {% include 'home/navigation-mobile.html' %}
        {% include 'home/navigation.html' %}
</header>
    
    <main>

        <form action="" method="POST">
            {% csrf_token %}
            <input placeholder="Username" name="username" type="text">
            <input placeholder="Password" name="password" type="password">
            <button>Sign in</button>
        </form>

    </main>



    <script src="{% static 'js/theme.js' %}"></script>
</body>
</html>