{% load static %}
<html lang="en" class="hmtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikola Plazinic | Services</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" class="css">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" class="css">
</head>
<body>
    <header>
        {% include 'home/navigation-mobile.html' %}
        {% include 'home/navigation.html' %}
</header>
    
    <main>

    </main>



    <script src="{% static 'js/theme.js' %}"></script>
</body>
</html>



<!-- 
Web Development: Razvoj kompletnih web aplikacija od početka do kraja, koristeći Django za backend i odgovarajuće tehnologije za frontend.

Custom Django Development: Prilagođavanje postojećih Django aplikacija, kao i razvoj novih funkcionalnosti prema specifičnim zahtevima klijenata.

API Development: Izrada RESTful API-ja pomoću Django REST framework-a za komunikaciju između različitih aplikacija i uređaja.

Database Management: Upravljanje bazama podataka, optimizacija upita i modelovanje podataka u skladu sa potrebama projekta.

Frontend Development: Kreiranje responsivnih korisničkih interfejsa pomoću HTML, CSS i JavaScript biblioteka kao što su React, Vue ili Angular.

Deployment i Server Management: Postavljanje Django aplikacija na servere, konfiguracija servera i održavanje sistema.

SEO Optimization: Optimizacija web stranica za pretraživače radi poboljšanja vidljivosti i rangiranja na internetu.

Maintenance and Support: Redovno održavanje i podrška za Django aplikacije, uključujući ispravke bagova i unapređenja sistema. -->