.project-group{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;

}


.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project img{
    max-width: 200px;
    min-height: 150px;
}