{% load static %}

<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracija</title>
    <link rel="stylesheet" href="{% static 'css/administracija/main.css' %}" class="css">
    <link rel="stylesheet" href="{% static 'css/administracija/nav.css' %}" class="css">
    <link rel="stylesheet" href="{% static 'css/administracija/korisnik.css' %}" class="css">

</head>
<body>

    <header>
        {% include 'administracija/nav.html' %}
    </header>

    <main>

        <div class="korisnik-group">
            {% for korisnik in korisnici %}
                <div class="korisnik">
                    <img src="{{korisnik.slika.url}}" alt="">
                    <a href="{% url 'pregled_korisnik' korisnik_id=korisnik.id %}">
                        {{korisnik.ime}}
                    </a>
                </div>
            {% endfor %}
        </div>


    </main>
    
    <script src="{% static 'js/theme.js' %}"></script>
</body>
</html>