{% load static %}

<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracija</title>
    <link rel="stylesheet" href="{% static 'css/administracija/post.css' %}" class="css">
    <link rel="stylesheet" href="{% static 'css/administracija/main.css' %}" class="css">
    <link rel="stylesheet" href="{% static 'css/administracija/nav.css' %}" class="css">
</head>
<body>

    <header>
        {% include 'administracija/nav.html' %}
    </header>

    <main>
        
        <div class="post-group">
            {% for post in postovi %}
            <div class="post">
                <img src="{{post.slika.url}}" alt="">
                <a href="{% url 'pregled_posta' post_id=post.id %}">{{post.naslov}}</a>
                
            </div>
            {% endfor %}
        </div>
    <!-- za svaki ImeModela u x -->
        

        <!-- {{imeModela.poljeModela}} -->
        

        

    </main>

    <script src="{% static 'js/theme.js' %}"></script>
    
</body>
</html>